
.clock-display{
    min-width: 400px;
    padding: 30px;
    font-size: 4rem;
    text-align: center;
    border-radius: 10px;
    color: var(--appsPrimaryColor);
    font-weight: bold;
    background-color: var(--appsSecondaryColor);
}
.clock-header li:nth-child(1){
    background-color: var(--appsPrimaryColor);
    
}
.clock-header li:nth-child(1) a{
    opacity: 1;
    color: var(--appsSecondaryColor );
    font-weight: bold;
}