
.clock-container h2{
    width: 100%;
    color: var(--appsPrimaryColor);
}
.clock-display{
    min-width: 400px;
    padding: 30px;
    font-size: 4rem;
    text-align: center;
    border-radius: 10px;
    color: var(--appsPrimaryColor);
    font-weight: bold;
    background-color: var(--appsSecondaryColor);
}