.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display flex*/
  gap: 10px;
  position: relative;
}
.contact-container p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primaryColor);
}
.contact-container ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
}
.contact-container ul li {
  padding: 5px;
}
.contact-btns {
  /* width: 80px;
  height: 80px; */
  padding: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  font-size: 3rem;
  border: 1px solid var(--secondaryColor);  
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.contact-btns:hover {
  background-color: var(--secondaryColor);
}
#contact-phone-btn {
  color: #00ff40;
  line-height: 0.5;
}
#contact-email-btn a {
  color: #008cff;
  line-height: 0.5;
}
#contact-discord-btn a {
  color: #6854eb;
  line-height: 0.5;
}
#contact-linkedin-btn a {
  color: #00a6ff;
  line-height: 0.5;
}
.clipboard-display {
  min-width: 400px;
  background-color: var(--blipBgColor);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: var(--primaryColor);
  gap: 20px;
}
