header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    border-bottom: 1px solid var(--secondaryColor);
    padding: 10px;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /*display flex*/
    gap: 20px;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    gap: 10px;
}
header nav ul li{
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav ul li a{
    color: var(--primaryColor);
}