:root{
    --primaryBgColor : #1b2032;
    --blipBgColor : rgba(0, 0, 0, 0.114);
    --primaryColor : #0f87ff;
    --secondaryColor : #2c3451;
    --appsPrimaryColor : orange;
    --appsSecondaryColor : black;
}
.app-container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--primaryBgColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    /*display flex*/
    gap: 20px;
}
main{
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*display flex*/
}