.a-header-container{
    width: 100%;
}
.a-header-container ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    padding: 10px;
    gap: 20px;
}
.a-header-container ul li{
    width: 200px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.a-header-container ul li a{
    color: var(--appsPrimaryColor);
    opacity: 0.4;
    text-transform: capitalize;
    display: block;
    transition: all 0.2s ease-in;
}
.a-header-container ul li:hover a{
    opacity: 1;
}