.a-header-container{
    width: 100%;
}
.a-header-container ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /*display flex*/
    padding: 10px;
    gap: 20px;
}