.vowel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display flex*/
    gap: 20px;
}
.vowel-container h2{
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid var(--appsPrimaryColor);
    color: var(--appsPrimaryColor);
    padding: 20px 0;
}
.sub-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*display flex*/
}
.sub-container textarea{
    width: 600px;
    height: 400px;
    background-color: var(--secondaryColor);
    resize: none;
    border-color: black;
    padding: 10px;
    border-bottom-color: transparent;

}
.sub-container textarea:focus{
    outline: transparent;
    color: silver;
}
.score-board{
    width: 100%;
    text-align: center;
    background-color: var(--secondaryColor);
    padding: 10px;
    border: 1px solid black;
    border-top-color: transparent;
}
.score-board p{
    color: var(--appsPrimaryColor);
    font-size: 0.8rem;
}